Source: mcercle
Section: unknown
Priority: extra
Maintainer: laurent trinques <5c04pi0810@gmail.com>
Version: 2
Build-Depends: cdbs (>= 0.4.89) , debhelper (>= 8), libqt4-dev (>= 4.6)
Standards-Version: 3.9.3
Homepage: http://frausti.fr/mcercle-logiciel-de-gestion-libre/

Package: mcercle
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-sql-sqlite
Description: mcercle est un logiciel de gestion libre pour PME et autoEntrepreneurs 
Caracteristiques principales:
 - Clients: Carnet d adresse, interventions/services, devis, factures.
 - Produits: References fournisseurs, gestion du stock avec seuil d alerte ainsi qu un classement par categorie.
 - Gestion des fournisseurs: Nom du contact fournisseur, adresse, telephone.
 - Base de donnees: Sauvegarde dans une base SQLite qui assure rapidite et intégrite des donnees.

